* {
  font-family: 'Jost', sans-serif;

}

body {
   /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
 
  /* font-weight: 300; */
  background: #EBF1F3;
}
section {
  height: 100vh;
  width: 100vw;
}

nav {
  width: 100vw;
}

nav ul {
  justify-content: flex-end;
  margin-top: 1em;
}

h2 {
  border-bottom: solid 2px black;
  width: 87vw;
}

h3 {
  display: flex;
  justify-content: flex-start;
}

h4 {

}
.logout {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #4db6ac;

}

p {
  height: 50px;
  overflow: scroll;
  font-size: 1.3em;
}

label {
  font-size: 2em;
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: left;
}

/*.desc {
  display: flex;
  flex-direction: column;
}*/

.editForm {
  width: 80%;
}
.button {
  width: 6em;
  height: 30px;
  background-color: #80cbc4;
  color: white;
}

.searchButton { 
  width: 6em;
  height: 46px;
  background-color: #4db6ac;
  margin-left: 10px;
  color: white;
  font-size: 2em;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton { 
  width: 6em;
  height: 46px;
  background-color: white;
  margin-left: 10px;
  color: #4db6ac;
  font-size: 2em;
  border-radius: 4px;
  cursor: pointer;
}

.returnButton {
  display: flex;
  justify-content: center;
  margin: 2.5em auto;  
}

/*ARTICLE VIEW PAGE*/
.greeting {
  width: 50vw;
  height: 4em;
  padding-left: 2em;
/*  margin-left: 2em;
  margin-right: 0;*/
}
.showArticle {
  background-color: #C9C3CC;
  border-radius: 8px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
/*  flex-direction: column;
  flex-wrap: wrap;*/
  padding: 10px;
  width: 90vw;
  height: 15em;
}

.articleButtons {
  display: flex;
  padding-top: 1em;
}

.articleBox {
  display: flex;
  flex-direction: column;
  padding-left: 1em;

}

.all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding-top: 1em;
}

.searchForm {
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: auto;
  align-items: center;
  -ms-flex-pack: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.searchFormBar {
  border: none;
}

/*MAIN LANDING PAGE*/

.loginHead {
  font-size: 4em;
  padding: 0;
}

.loginBackground {
  background: url('./background.jpg');
  height: 100vh;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.auth-form {
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 80%;
  width: 25%;
  padding-top: 2em;
  border-radius: 8px;
  opacity: 0.95;
}
.signUp-auth-form{
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 25%;
  border-radius: 8px;
  opacity: 0.95;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
  margin-left: 2em;
  background: #F9F9F9;
  padding-left: 1em;
  border-radius: 4px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-left: 2em;
  background: #F9F9F9;
  padding-left: 1em; 
  border-radius: 4px;
}

.loginForm>.searchBar {
  width: 80%;
  height: 30px;
  
}
.signUpForm>.searchBar {
  width: 80%;
  height: 30px;
}

.form-buttons {
  margin-top: 1.5em;

}
.login-form-button {
  font-size: 1.5em;
  padding: .5em;
  margin: .5em;
  background: white;
  border: none;
  cursor: pointer;
}

.signup-form-button {
  font-size: 1.5em;
  padding: .5em;
  margin: .5em;
  background: white;
  border: none;
  cursor: pointer;
}

/*.searchBar {
  height: 30px;
  width: 5em;
  border-radius: 4px;  
}*/

form input[type="text"] {
  font-size: 24px;
}

/*NAV BAR*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
/*  background: #DAD4D7;
*/}

span {
  color: #AC6C7E;
}

li {

}

.navButton {
  cursor: pointer;
  border: none;
  font-size: 1em;
  background: none;
}

.navButton:hover {
  color: grey;
}

.savedTitle {
  padding-left: 1em;
  border: none;
  font-size: 3em;
}

.createArticle {
  background-color: #C9C3CC;
  border-radius: 8px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90vw;
  height: 15em;
}

.formLabel {
  width: 4em;
  padding-right: 1em;
}

span {
  font-weight: bold;
}

#searchFormContainer {
  display: flex;
}