* {
  font-family: 'Jost', sans-serif;
}

body {
  background: #EBF1F3;
}

section {
  height: 100vh;
  width: 100vw;
}



/* h2 {
  border-bottom: solid 2px black;
  width: 87vw;
}

h3 {
  display: flex;
  justify-content: flex-start;
}

.logout {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #4db6ac;
}

p {
  height: 50px;
  overflow: scroll;
  font-size: 1.3em;
}

 */

/*.desc {
  display: flex;
  flex-direction: column;
}*/

/* .editForm {
  width: 80%;
}

.returnButton {
  display: flex;
  justify-content: center;
  margin: 2.5em auto;  
} */



/*MAIN LANDING PAGE*/

/* .loginHead {
  font-size: 4em;
  padding: 0;
}

.loginBackground {
  height: 100vh;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.auth-form {
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 80%;
  width: 25%;
  padding-top: 2em;
  border-radius: 8px;
  opacity: 0.95;
}
.signUp-auth-form{
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 25%;
  border-radius: 8px;
  opacity: 0.95;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
  margin-left: 2em;
  background: #F9F9F9;
  padding-left: 1em;
  border-radius: 4px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-left: 2em;
  background: #F9F9F9;
  padding-left: 1em; 
  border-radius: 4px;
}

.loginForm>.searchBar {
  width: 80%;
  height: 30px;
  
}
.signUpForm>.searchBar {
  width: 80%;
  height: 30px;
}

.form-buttons {
  margin-top: 1.5em;

}
.login-form-button {
  font-size: 1.5em;
  padding: .5em;
  margin: .5em;
  background: white;
  border: none;
  cursor: pointer;
}

.signup-form-button {
  font-size: 1.5em;
  padding: .5em;
  margin: .5em;
  background: white;
  border: none;
  cursor: pointer;
}



.savedTitle {
  padding-left: 1em;
  border: none;
  font-size: 3em;
} */
/* 
.createArticle {
  background-color: #C9C3CC;
  border-radius: 8px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90vw;
  height: 15em;
} */

/* .formLabel {
  width: 4em;
  padding-right: 1em;
}

span {
  font-weight: bold;
} */

